@import url(http://fonts.googleapis.com/css?family=Lato:100,400);

body {
	background: whitesmoke;
}

.jumbotron {
	background-color: #ffffff;
	-moz-box-shadow:    0 1px 1px #ccc;
		-webkit-box-shadow: 0 1px 1px #ccc;
		box-shadow:         0 1px 1px #ccc;
}

p {
	padding-top: 0;
}

a.navbar-brand {
	font-family: 'Lato', sans-serif;
}

.navbar-default {
	background-color: #ffffff;
}


/* forecast cards */

.col-md-2.card {
    background: #ffffff;
    height: 200px;
    margin-left: 30px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px; /* future proofing */
    -khtml-border-radius: 10px; /* for old Konqueror browsers */
    margin-top: 10px;
    padding-left: 20px;
    -moz-box-shadow:    0 1px 1px #ccc;
    -webkit-box-shadow: 0 1px 1px #ccc;
    box-shadow:         0 1px 1px #ccc;
}

.col-md-2.card h5 {
    text-align: center;
}

.col-md-2.card.two {
    height: 250px;
}

h1.forecastIcon {
	text-align: center;
}

h5.forecastDate {
	text-align: center;
}
